Flask==1.0.2
Flask-Uploads==0.2.1
Flask-WTF==0.14.2
WTForms==2.2.1
Keras==2.2.4
tensorflow==1.12.0
numpy==1.15.4
opencv-python==3.4.4.19
boto3==1.9.57
imutils==0.5.1
gunicorn==19.9.0
azure-storage==0.36.0
google-cloud-storage==1.13.0
