<link rel="stylesheet" href="{{ url_for('static', filename='css/new.css') }}">
<div class="form-style-10">
<h1> Is it Cat or Car ?</h1>
 <div class="section">
<form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    {{ form.photo }}
    {% for error in form.photo.errors %}
        <span style="color: red;">{{ error }}</span>
    {% endfor %}
</div>
<div class="button-section">
    {{ form.submit }}
</div>
</form>

{% if file %}
<br>
 <img src="{{ file }}" />
 <P>
{% endif %}
<P><BR>
<div class="inner-wrap">
<P>
This page served from: <BR>
 {{host}} <BR>
 {{ip}}
</div>
<img src = "{{ url_for('static', filename='css/redhat.jpeg') }}" width=400 height=169 alt="Red Hat">

